/*
цвет текста
color: #000000; черный для лого
color: #212121; почти черный
color: #FFFFFF; белый
color: #2196F3; голубой
color: #757575; серый

цвет фона
background: #FFFFFF; белый
background: #F5F4FA; серый
background: #2F303A; темный
*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --section-title-color: #212121;
    --accent-color: #2196F3;
    --accent-text: #FFFFFF;
    --logo-studio-header: #000000;
    --description-text-color: #757575;
    --title-text-color: #212121;
    --background-dark-color: #2F303A;
    --background-grey-color: #F5F4FA;
}
body {
    background-color: #ffffff;
    font-family: var(--main-font);
    font-size: 14px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding-left: 0;
}
.section-title { /*универсальный заголовок секции*/
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--section-title-color);
}
.container {
    outline: 1px solid #666;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul, li, h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

/*Хедер*/
.logo-link-header {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    margin-right: 85px;
}
.logo-studio-header {
    color: var(--logo-studio-header);
}
.company-mail-header,
.company-phone-header {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--description-text-color);
}
.header-address {
    display: flex;
}
.company-mail-header:hover, 
.company-mail-header:focus,
.company-phone-header:hover, 
.company-phone-header:focus {
    color: var(--accent-color);
}
.mail-link-block {
    margin-right: 31px;
}
.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--section-title-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-list {
    display: flex;
}
.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}
.navigation {
    display: flex;
    align-items: center; 
}
.navigation a,
.header-address a {
    padding-top: 32px;
    padding-bottom: 32px;
}

/*Герой*/
.hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #212121; /*изменить цвет потом*/
   
    margin-bottom: 30px;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    width: 200px;
    height: 50px;
}
.hero-button {
    margin-left: auto;
    margin-right: auto; /*почему оно не работает*/
}

/*Преимущества*/
.advantage-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.advantage-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}
.advantages-list {
    padding-top: 94px;
    display: flex;
    justify-content: center;
}
.advantage-name {
    margin-top: 30px;
    margin-bottom: 10px;
}
.advantage-description {
    width: 270px;
}

/*Чем мы занимаемся*/
.activities-list-item-name {
    font-weight: 700;
    font-size: 1.14;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; /*изменить цвет потом*/
}
.activities .section-title {
    margin-bottom: 50px;
}
.activities-list-item {
    display: inline-block;
    flex-direction: row;
}
.activities-list-item:not(:last-child) {
    margin-right: 30px;
}
.activities .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Наша команда*/
.team-member-name,
.team-member-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-member-position {
    font-weight: 400;
    color: var(--description-text-color);
    margin-bottom: 16px;
}
.team-member-social-links {
    padding-bottom: 107px;

    display: flex;
}
.team-member-image {
    margin-bottom: 30px;
}
.team-members-list {
    display: flex;
}
.team .section-title {
    padding-top: 94px;
    padding-bottom: 50px;
}
.team-member:not(:last-child) {
    margin-right: 30px;
}
.team-member-name {
    margin-bottom: 10px;
}

.team {
    background-color: var(--background-grey-color);
}

/*Постоянные клиенты*/
.clients-list {
    display: flex;
    justify-content: space-around;
}
.clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients .section-title {
    margin-bottom: 50px;
}

/*Контакты*/
.company-address { /*адрес компании в футере*/
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-text);

    display: block;
    margin-bottom: 9px;
}
.company-mail-footer,
.company-phone-footer {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--description-text-color);

    display: block;
    margin-bottom: 9px;
}
.company-phone-footer {
    margin-bottom: 60px;
}
.join,
.subscribe { /*присоединяйтесь, подпишитесь в футере*/
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-text);

    display: block;
    padding-top: 72px;
    margin-bottom: 20px;
}
.logo-link-footer { /*логотип в футере*/
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    display: block;
    padding-top: 60px;
    margin-right: 147px;
    margin-bottom: 20px;
}
.logo-studio-footer { /*белый цвет для слова studio*/
    color: #FFFFFF;
}
.footer .container {
    display: flex;
}
.footer-join {
    margin-right: 94px;
}
.join-links-list {
    display: flex;
}
.footer {
    background-color: var(--background-dark-color);
}












/*Портфолио*/
.portfolio-button-list {
    display: flex;
    padding-top: 93px;
    margin-bottom: 34px;
    justify-content: center;
}
.portfolio-button-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    margin-bottom: 50px;
}
.portfolio-button-list-item:hover,
.portfolio-button-list-item:focus {
    color: var(--accent-text);
    background-color: var(--accent-color);
}
.portfolio-example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio-example-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}
.portfolio-example-list {
    padding-bottom: 94px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-example-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-example-list-item:nth-child(3n) {
    margin-right: 0;
}
.portfolio-example-list-item:nth-child(n+6) {
    margin-bottom: 0;
}