/*
цвет текста
color: #000000; черный для лого
color: #212121; почти черный
color: #FFFFFF; белый
color: #2196F3; голубой
color: #757575; серый

цвет фона
background: #FFFFFF; белый
background: #F5F4FA; серый
background: #2F303A; темный
*/

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --section-title-color: #212121;
    --accent-color: #2196F3;
    --accent-text: #FFFFFF;
    --description-text-color: #757575;
    --title-text-color: #212121;
}
body {
    background-color: #ffffff;
    font-family: var(--main-font);
    font-size: 14px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding-left: 0;
}
.section-title { /*универсальный заголовок секции*/
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--section-title-color);
}
.container {
    outline: 1px solid #666;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul, li, h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

/*Хедер*/
.logo-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-link-web {
    color: var(--accent-color);
}
.navigation-list-link,
.company-mail,
.company-phone,
.address {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121; 
}
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}
.company-mail,
.company-phone {
    color: var(--description-text-color);
}
.company-mail:hover, 
.company-mail:focus,
.company-phone:hover, 
.company-phone:focus {
    color: var(--accent-color);
}
.navigation-list {
    display: flex;
}
.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}
.header-address {
    display: flex;
    align-items: center; /*???почему-то не работает*/
}
.navigation {
    display: flex;
    align-items: center; 
}
.logo-link {
    margin-right: 85px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-contacts {
    align-items: center;
}
.mail-link {
    margin-right: 31px;
}
.navigation a,
.header-address a {
    padding-top: 32px;
    padding-bottom: 32px;
}

/*Герой*/
.hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #212121; /*изменить цвет потом*/
   
    margin-bottom: 30px;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
align-items: flex-start;
    width: 200px;
    height: 50px;
}

/*Преимущества*/
.advantage-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.advantage-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}
.advantages-list {
    padding-top: 94px;
    display: flex;
    justify-content: center;
}
.advantage-name {
    margin-top: 30px;
    margin-bottom: 10px;
}
.advantage-description {
    width: 270px;
}

/*Чем мы занимаемся*/
.activities-list-item-name {
    font-weight: 700;
    font-size: 1.14;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; /*изменить цвет потом*/
}
.activities .section-title {
    margin-bottom: 50px;
}
.activities-list-item {
    display: inline-block;
    flex-direction: row;
}
.activities-list-item:not(:last-child) {
    margin-right: 30px;
}
.activities .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*Наша команда*/
.team-member-name,
.team-member-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-member-position {
    font-weight: 400;
    color: var(--description-text-color);
}
.team-member-social-links {
    display: flex;
}
.team-member-image {
    margin-bottom: 30px;
}
.team-members-list {
    display: flex;
}
.team .section-title {
    padding-top: 94px;
    padding-bottom: 50px;
}
.team-member:not(:last-child) {
    margin-right: 30px;
}
.team-member-name {
    margin-bottom: 10px;
}

/*Постоянные клиенты*/
.clients-list {
    display: flex;
    justify-content: space-around;
}
.clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients .section-title {
    margin-bottom: 50px;
}



/*Контакты*/
.company-address {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121; /*изменить цвет потом*/
}
.join,
.subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; /*изменить цвет потом*/
}
.logo-footer {
    /* color: #FFFFFF; */
}
.contacts .container {
    display: flex;
}
.footer-contacts,
.footer-join,
.footer-subscribe {
    padding-top: 50px;
}
.join-links-list {
    display: flex;
}
.logo-link {
    display: block;
    margin-bottom: 20px;
}
.company-address,
.company-mail {
    display: block;
    margin-bottom: 9px;
}
.company-phone {
    display: block;
    margin-bottom: 60px;
}
.footer-contacts {
    margin-right: 69px;
}
.footer-join { /*не работает*/
    margin-right: 94;
}


/*Портфолио*/
.portfolio-button-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.portfolio-button-list-item:hover,
.portfolio-button-list-item:focus {
    background-color: var(--accent-color);
    color: var(--accent-text);
}
.portfolio-example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio-example-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}


