/*
цвет текста
color: #000000; черный для лого
color: #212121; почти черный
color: #FFFFFF; белый
color: #2196F3; голубой
color: #757575; серый

цвет фона
background: #FFFFFF; белый
background: #F5F4FA; серый
background: #2F303A; темный
*/
:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --section-title-color: #212121;
    --accent-color: #2196F3;
    --accent-text: #FFFFFF;
    --description-text-color: #757575;
    --title-text-color: #212121;
}
body {
    background-color: #ffffff;
    font-family: var(--main-font);
    font-size: 14px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

/*Хедер*/
.logo-link {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-link-web {
    color: var(--accent-color);
}
.navigation-list-link,
.company-mail,
.company-phone {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121; 
}
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}
.address {
    font-style: normal;
}
.company-mail,
.company-phone {
    color: var(--description-text-color);
}
.company-mail:hover, 
.company-mail:focus,
.company-phone:hover, 
.company-phone:focus {
    color: var(--accent-color);
}

/*универсальный заголовок секции*/
.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--section-title-color);
}

/*Герой*/
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #212121; /*изменить цвет потом*/
}
.button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/*Преимущества*/
.advantage-name {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.advantage-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}

/*Чем мы занимаемся*/
.activities-list-item-name {
    font-weight: bold;
    font-size: 1.14;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; /*изменить цвет потом*/
}

/*Наша команда*/
.team-member-name,
.team-member-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-member-position {
    font-weight: normal;
    color: var(--description-text-color);
}

/*Постоянные клиенты*/



/*Контакты*/
.company-address {
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121; /*изменить цвет потом*/
}
.join {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121; /*изменить цвет потом*/
}
.logo-footer {
    /* color: #FFFFFF; */
}

/*Портфолио*/
.portfolio-button-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.portfolio-button-list-item:hover,
.portfolio-button-list-item:focus {
    background-color: var(--accent-color);
    color: var(--accent-text);
}
.portfolio-example-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio-example-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}


